<!-- Structured Data (JSON-LD) -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "Civils Agri Plant",
  "image": "https://caplant.co.za/images/logo.png",
  "@id": "https://caplant.co.za",
  "url": "https://caplant.co.za",
  "telephone": "+27823085924",
  "email": "info@caplant.co.za",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "De Hoop steen road",
    "addressLocality": "Paarl",
    "addressRegion": "Western Cape",
    "postalCode": "",
    "addressCountry": "ZA"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": -33.7342,
    "longitude": 18.9752
  },
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday"
      ],
      "opens": "07:00",
      "closes": "17:30"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Friday",
      "opens": "07:00",
      "closes": "15:00"
    }
  ],
  "sameAs": [
    "https://www.facebook.com/Civilsagriplant/",
    "https://www.instagram.com/civils_agri_plant_/"
  ],
  "priceRange": "$$",
  "areaServed": {
    "@type": "City",
    "name": "Paarl"
  },
  "hasOfferCatalog": {
    "@type": "OfferCatalog",
    "name": "Construction and Agricultural Services",
    "itemListElement": [
      {
        "@type": "Offer",
        "itemOffered": {
          "@type": "Service",
          "name": "Plant Hire"
        }
      },
      {
        "@type": "Offer",
        "itemOffered": {
          "@type": "Product",
          "name": "Sand & Stone"
        }
      },
      {
        "@type": "Offer",
        "itemOffered": {
          "@type": "Product",
          "name": "Bricks"
        }
      }
    ]
  }
}
</script>
